header {
  background-color: #eee;
  height: 150px;
  margin-bottom: 100px;
}

nav {
  height: 100%;
  text-align: center;
  line-height: 150px;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  margin-left: 50px;
  margin-right: 50px;
  transition: color 500ms;
}

nav a:hover {
  color: #f00;
}


