header {
  height: 120px;
  background-color: #eee;
}

nav {
  height: 100%;
  text-align: center;
}

a {
  /* default display is inline */
  border: 5px solid #000;
  background-color: #f33;
  /* inline element DO NOT accept width and height */
  /* display: block; */
  /* display: inline-block; */
  width: 120px;
  height: 50px;

  /* margin left and right work on inline elements */
  /* margin-left: 50px;
    margin-right: 50px; */

  /* margin top and bottom do not work on inline elm */
  /* margin-top: 50px;
    margin-bottom: 50px; */

  /* padding left right works just fine */
  /* padding-left: 50px;
  padding-right: 50px; */
  /* padding top and bottom sort of works */
  padding-top: 200px;
  padding-bottom: 700px;
}

h2 {
  text-align: center;
  /* all box model properties worked fine on display block */
  background-color: #0f0;
  /* width: 200px; */
  height: 150px;
  /* padding: 20px; */
  padding-bottom: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px solid;
}
